{% extends 'base.html.twig' %}

{% block title %}Network interfaces{% endblock %}

{% block content %}
    {% if interfaces %}
        {% for interface in interfaces %}
            <section>
                <div class="section-inner">
                    <div class="section-heading row">
                        <div class="col-md-8">
                            <h2>Interface: {{ interface.name }}</h2>
                        </div>
                        <div class="col-md-4 text-right">
                            {% if interface.operation_state and interface.operation_state.0 == 'Not running' %}
                                <form action="{{ url('network_interfaces_enable') }}" method="post">
                                    <input type="hidden" name="name" value="{{ interface.name }}">
                                    <button type="submit" class="btn btn-success btn-xs">Enable</button>
                                </form>
                            {% else %}
                                <form action="{{ url('network_interfaces_disable') }}" method="post">
                                    <input type="hidden" name="name" value="{{ interface.name }}">
                                    <button type="submit" class="btn btn-warning btn-sm">Disable</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Interface status</td>
                                            <td><span class="label label-{{ interface.operation_state ? interface.operation_state.1 : 'default' }}">{{ interface.operation_state ? interface.operation_state.0 : 'Unknown' }}</span></td>
                                        </tr>
                                        <tr>
                                            <td>MAC address</td>
                                            <td>{{ interface.mac_address ? interface.mac_address : 'Unknown' }}</td>
                                        </tr>
                                        <tr>
                                            <td>IP address</td>
                                            <td>{{ interface.ip ? interface.ip : 'Unknown' }}</td>
                                        </tr>
                                        <tr>
                                            <td>Netmask</td>
                                            <td>{{ interface.netmask ? interface.netmask : 'Unknown' }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <td>Bytes received</td>
                                            <td>{{ interface.bytes_received }}</td>
                                        </tr>
                                        <tr>
                                            <td>Bytes sent</td>
                                            <td>{{ interface.bytes_sent }}</td>
                                        </tr>
                                        {% if interface.wireless_connection != null %}
                                            <tr>
                                                <td>Link Quality</td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ interface.wireless_connection.link_quality }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ interface.wireless_connection.link_quality }}%">
                                                            {{ interface.wireless_connection.link_quality }}%
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Signal Level</td>
                                                <td>
                                                    <div class="progress">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ interface.wireless_connection.signal_level }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ interface.wireless_connection.signal_level }}%">
                                                            {{ interface.wireless_connection.signal_level }}%
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endfor %}
    {% else %}
        <section>
            <div class="section-inner">
                <p class="alert alert-danger">No network interfaces found.</p>
            </div>
        </section>
    {% endif %}
{% endblock %}
