{% extends 'base.html.twig' %}

{% block title %}Wireless networks{% endblock %}

{% block content %}
    <section>
        <div class="section-inner">
            <h2>Saved networks</h2>

            {% if saved_networks %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th></th>
                                <th>#</th>
                                <th>Name</th>
                                <th>Preferred BSSID</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                            {% for network in saved_networks %}
                                <tr{{ network.current ? ' class="current"' : '' }}>
                                    <td class="text-center"><i class="fa {{ network.current ? 'fa-circle' : 'fa-circle-o' }}" aria-hidden="true"></i></td>
                                    <td>{{ network.id }}</td>
                                    <td>{{ network.ssid }}</td>
                                    <td>{{ network.bssid }}</td>
                                    <td>{{ network.status }}</td>
                                    <td>
                                        {% if network.status == 'Disabled' %}
                                            <form action="{{ url('wireless_networks_enable') }}" method="post">
                                                <input type="hidden" name="id" value="{{ network.id }}">
                                                <button type="submit" class="btn btn-success btn-xs">Enable</button>
                                            </form>
                                        {% else %}
                                            <form action="{{ url('wireless_networks_disable') }}" method="post">
                                                <input type="hidden" name="id" value="{{ network.id }}">
                                                <button type="submit" class="btn btn-warning btn-xs">Disable</button>
                                            </form>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <form action="{{ url('wireless_networks_remove') }}" method="post">
                                            <input type="hidden" name="id" value="{{ network.id }}">
                                            <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash" aria-hidden="true"></i> Remove</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p class="alert alert-danger">No saved networks found.</p>
            {% endif %}

            <p class="text-right"><a href="{{ url('add_wireless_network') }}" class="btn btn-primary">Connect to a network</a></p>
        </div>
    </section>
{% endblock %}
